 
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 75%
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
 background-color: #eee;
}

/* navbar */

.navbar .navbar-nav .nav-item .active{    /* home*/
 color:  #82B440;
 font-size: 16px;
 font-weight: 700;
}
.navbar .nav-link{
 color: #3E483C;
 font-size: 16px;
 font-weight: 600;
 margin-right: 15px;
}

.navbar .nav-icon .fa-cart-shopping{
 border-left-width: 1 px ;
 border-left-color: black;
 border-left-style:solid;
 height : 20px;
}

.navbar .nav-link:hover{
color: #82B440;
}

@media screen and (max-width:576px){

 .navbar .logo{
   width: 40%;
 }
 .navbar .logo img{
   width: 100%;
 }
 .navbar.nav-icon{
   width: 5%;
 }
 

}
/* end navbar */

/* start header */
header{
  background-image: url(../img/imgheader.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.header-content{
 position: absolute;
 top: 30%;
 left: 10%;
 width: 50%;
 }
.header-content h1{
 color: #82B440;
 font-size: 28px; 
 animation-name: contentabove;
 animation-duration: 1s; 
 }
.header-content h2{
 font-size: 50px;
 color: white;
 animation-name: contentleft;
 animation-duration: 2s;  
}
.header-content p{
 color: white;
 font-size: 16px;
 animation-name: contentabove;
  animation-duration: 3s; 
 }
.header-content a{
 background-color: #82B440;
 border-color: #82B440;
 animation-name: contentabove;
 animation-duration: 3s; 
}

/* animation start from header-content start not screen start*/
header .header-content{   
 overflow: hidden ;
}

/* animation */ 
@keyframes contentleft{
 0%{
    transform: translateX(-100%);
    background-color: white;
 }
 100%{
   transform: translateX(0%);
   background-color: white;
 }
}

@keyframes contentabove{
 0%{
    transform: translateY(100%);
 }
 100%{
   transform: translateY(0%);
 }
}

@media screen and (max-width:576px){


 header .header-content h1{
    font-size: 20px;
 }
 header .header-content p{
   font-size: 18px;
   width: 75%;
 }
 header .header-content h2{
   font-size: 22px;
   width: 75%;
}
 header .header-content{
    width: 100%;
 }

}
@media screen and (min-width:576px) and (max-width:991px) {

 header .header-content h1{
   font-size: 36px;
}
header .header-content p{
  font-size: 30px;
  width: 75%;
}
header .header-content h2{
  font-size: 42px;
  width: 75%;
}
header .header-content{
   width: 100%;
}

 header{
   background-size: cover;
 }
}
/* end header */


 /* start about */

.about-parent  {
 width: 35%;
 gap: 25px;
 
}
.about-parent .about-img img {
 width: 100% !important;
 
}
.about-img-content{
 margin-top: 5%;
 height: 145px;
 background-color:#6CBE03 ;
}
.about-img-content span{
  font-size: 59px;
}
.about-img-content h3{
 text-align: center;
 align-items: center;

}
.about-content
{
 margin-right: -32px;
 padding-bottom: 15px;
}
.about-content .title h4{
 font-size: 39px;
 padding-bottom: 25px;
 padding-top: 20px;
}
.about-content .title p{
 color: #616161;
 font-size: 17px;
 
}
.about-content  .title img{
 width: 5%;
}
.about-content  .title .sup-title {
  position: relative;
  font-size: 17px;
  font-weight: 800;
  padding-left: 40px;
  color:#F4A700;
  margin-bottom: 5%;
}
.about-content a{
 background-color: #6CBE03;
 font-size: large;
 font-weight: 600;
 margin-top: 15px;
}
.about-content a:hover{
 background-color: #F4A700;
 color:#3E483C !important ;

}
ul{
 list-style: none;
}
.about-content .about-icons .icons-list i{
 background-color: #6CBE03;
   margin-top: 1px;
   margin-left: -40px;
   margin-bottom: 20px;
   width: 25px;
   line-height: 25px;
   text-align: center;
   border-radius: 50%;
   color: white;
}
.about-content .about-icons .icons-list li{
 font-size: 17px;
 font-weight: 600;
 margin-bottom: 10px;
 color: #616161;
}

.block-img img{
 width: 273px;
 height: 160px;
}
.block-title{
 padding: 40px 0 40px 0;
 background-color: #6CBE03;
}
.block-title .block-tcontent {
 margin-left: 48px;
}
.block-title .block-tcontent h4{
 font-weight: 600;
 color: white;
}
.block-title .block-tcontent p{
 font-weight: 600;
 font-size: 18px;
 color: white;
}

/* media quere  */

@media screen and (max-width:575px) {
 .about .row{
   flex-direction: column;
 }
}

/* end about */














 /* start projects*/

 .row1 {
  display: flex;
  align-items: center;
}

.project  img{
  transition: opacity 1s;
}

.project img:hover{
  opacity: 0.5;
}

.project .project-content{
  margin-top: 101px;
}
.project .project-content .title1{
 text-align: center;
 padding-bottom: 15px;
}
.project .project-content .title{
 position: relative;
 font-size: 17px;
 font-weight: 800;
 padding-left: 40px;
 color:#F4A700;
 margin-bottom: 5%;
}
.project .project-content h3{
  color: #F4A700;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0px 0px 4px 0px;
}

.project .project-content h2{
  color: #435a52;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.1923076923076923em;
  margin: 0px 0px 0px 0px;
  padding-bottom: 50px;
}

.project .img1{
  width: 33%;
}

.project .img1 .i1{
  position: relative;
}

.project .row1 .img1 .i1 .inside{
  border: 0px solid;
  background-color: #e6d54f;
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s ;
}

.project .row1 .img1 .i1:hover .inside{
  opacity: 1;
  visibility: visible;
  transform: translate(20px);
}

.project .row1 .img1 .inside p{
  padding: 20px 20px 10px 15px;
  font-size: 27px;
  color: #4b6051;
}

.project .row1 .img1 .i1 .name{
  border: 0px solid;
  background-color: #297d53;
  width: 90px;
  height: 27px;
  position: absolute;
  bottom: 105px;
  right: 305px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img1 .i1 .name p{
  color: #f8f0d6;
  padding-left: 10px;
}

.project .row1 .img1 .i1:hover .name{
  opacity: 1;
  visibility: visible;
  transform: translate(20px);
}

.project .row1 .img1 .i1 .icon{
  width: 43px;
  border: 0px solid;
  border-radius: 2734px;
  background-color: aliceblue;
  position: absolute;
  bottom: 44px;
  right: 210px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img1 .i1 .icon a{
  color: #297d53;
  padding: 11px;
  font-size: 28px;
  text-align: center;
  padding-top: 854px
}

.project .row1 .img1 .i1:hover .icon{
  opacity: 1;
  visibility: visible;
  transform: translate(20px);
}

.project .row1 .img1 .i1 img{
  height: 330px;
  width: 100%;
  margin-bottom: 30px;
}



.project .row1 .img1 .i2 img{
  height: 570px;
  width: 100%;
  object-fit: cover;
}

.project .img1 .i2{
  position: relative;
}

.project .row1 .img1 .i2 .inside{
  border: 0px solid;
  background-color: #e6d54f;
  width: 273px;
  position: absolute;
  bottom: 0px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s ;
}

.project .row1 .img1 .i2:hover .inside{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img1 .inside p{
  padding: 20px 20px 10px 15px;
  font-size: 27px;
  color: #4b6051;
}

.project .row1 .img1 .i2 .name{
  border: 0px solid;
  background-color: #297d53;
  width: 90px;
  height: 27px;
  position: absolute;
  bottom: 76px;
  right: 307px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s , transform 1s ;
}

.project .row1 .img1 .i2 .name p{
  color: #f8f0d6;
  padding-left: 10px;
}

.project .row1 .img1 .i2:hover .name{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img1 .i2 .icon{
  width: 43px;
  border: 0px solid;
  border-radius: 2734px;
  background-color: aliceblue;
  position: absolute;
  bottom: 15px;
  right: 132px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img1 .i2 .icon a{
  color: #297d53;
    padding: 11px;
    font-size: 28px;
    text-align: center;
    padding-top: 854px
}

.project .row1 .img1 .i2:hover .icon{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}





.project .img2{
  width: 33%;
  margin: 0px 27px;
}

.project .img2 .i3 img{
  width: 100%;
  height: 482px;
  margin-bottom: 30px;
}

.project .row1 .img2 .i3 img{
  opacity: 0.5;
}

.project .img2 .i3{
  position: relative;
}


.project .row1 .img2 .i3 .inside{
  border: 0px solid;
  background-color: #e6d54f;
  width: 234px;
  position: absolute;
  bottom: 30px;
  transition: opacity 1s ,transform 1s ;
}

.project .row1 .img2 .i3 .inside p{
  padding: 10px 20px 0px 15px;
  font-size: 27px;
  color: #4b6051;
}

.project .row1 .img2 .i3 .name{
  border: 0px solid;
  background-color: #297d53;
  width: 90px;
  height: 27px;
  position: absolute;
  bottom: 88px;
  right: 307px;
  border-radius: 5px;
  /*opacity: 0;
  visibility: hidden;*/
  transition: opacity 1s , transform 1s ;
}

.project .row1 .img2 .i3 .name p{
  color: #f8f0d6;
  padding-left: 10px;
}

.project .row1 .img2 .i3 .icon{
  width: 43px;
  border: 0px solid;
  border-radius: 2734px;
  background-color: aliceblue;
  position: absolute;
  bottom: 41px;
  right: 154px;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img2 .i3 .icon a{
  color: #297d53;
    padding: 11px;
    font-size: 28px;
    text-align: center;
    padding-top: 854px
}

.project .img2 .i4 img{
  height: 418px;
  width: 100%;
}

.project .img2 .i4{
  position: relative;
}

.project .row1 .img2 .i4 .inside{
  border: 0px solid;
  background-color: #e6d54f;
  width: 273px;
  position: absolute;
  bottom: 0px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s ;
}

.project .row1 .img2 .i4:hover .inside{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img2 .inside p{
  padding: 20px 20px 10px 15px;
  font-size: 27px;
  color: #4b6051;
}

.project .row1 .img2 .i4 .name{
  border: 0px solid;
  background-color: #297d53;
  width: 90px;
  height: 27px;
  position: absolute;
  bottom: 76px;
  right: 307px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s , transform 1s ;
}

.project .row1 .img2 .i4 .name p{
  color: #f8f0d6;
  padding-left: 10px;
}

.project .row1 .img2 .i4:hover .name{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img2 .i4 .icon{
  width: 43px;
  border: 0px solid;
  border-radius: 2734px;
  background-color: aliceblue;
  position: absolute;
  bottom: 15px;
  right: 132px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img2 .i4 .icon a{
  color: #297d53;
    padding: 11px;
    font-size: 28px;
    text-align: center;
    padding-top: 854px
}

.project .row1 .img2 .i4:hover .icon{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}



.project .img3{
  width: 33%;
}

.project .img3 .i5 img{
  height: 370px;
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

.project .img3 .i5{
  position: relative;
}

.project .row1 .img3 .i5 .inside{
  border: 0px solid;
  background-color: #e6d54f;
  width: 273px;
  position: absolute;
  bottom: 30px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s ;
}

.project .row1 .img3 .i5:hover .inside{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img3 .inside p{
  padding: 20px 20px 10px 15px;
  font-size: 27px;
  color: #4b6051;
}

.project .row1 .img3 .i5 .name{
  border: 0px solid;
  background-color: #297d53;
  width: 90px;
  height: 27px;
  position: absolute;
  bottom: 103px;
  right: 307px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s , transform 1s ;
}

.project .row1 .img3 .i5 .name p{
  color: #f8f0d6;
  padding-left: 10px;
}

.project .row1 .img3 .i5:hover .name{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img3 .i5 .icon{
  width: 43px;
  border: 0px solid;
  border-radius: 2734px;
  background-color: aliceblue;
  position: absolute;
  bottom: 50px;
  right: 132px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img3 .i5 .icon a{
  color: #297d53;
    padding: 11px;
    font-size: 28px;
    text-align: center;
    padding-top: 854px
}

.project .row1 .img3 .i5:hover .icon{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}



.project .img3 .i6 img{
 width: 100%;
 height: 531px;
 object-fit: cover;
}

.project .img3 .i6{
  position: relative;
}

.project .row1 .img3 .i6 .inside{
  border: 0px solid;
  background-color: #e6d54f;
  width: 273px;
  position: absolute;
  bottom: 0px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s ;
}

.project .row1 .img3 .i6:hover .inside{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img3 .inside p{
  padding: 20px 20px 10px 15px;
  font-size: 27px;
  color: #4b6051;
}

.project .row1 .img3 .i6 .name{
  border: 0px solid;
  background-color: #297d53;
  width: 90px;
  height: 27px;
  position: absolute;
  bottom: 76px;
  right: 307px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s , transform 1s ;
}

.project .row1 .img3 .i6 .name p{
  color: #f8f0d6;
  padding-left: 10px;
}

.project .row1 .img3 .i6:hover .name{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

.project .row1 .img3 .i6 .icon{
  width: 43px;
  border: 0px solid;
  border-radius: 2734px;
  background-color: aliceblue;
  position: absolute;
  bottom: 15px;
  right: 132px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ,transform 1s;
}

.project .row1 .img3 .i6 .icon a{
  color: #297d53;
    padding: 11px;
    font-size: 28px;
    text-align: center;
    padding-top: 854px
}

.project .row1 .img3 .i6:hover .icon{
  opacity: 1;
  visibility: visible;
  transform: translate(20px) ;
}

/* end projects*/


/* start Services */ 
.service{
 padding-top: 5%;
}


 /* start farmer */ 
.farmer .row{
  justify-content: center;
 }
 .farmer .title {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 3%;
}
.farmer .title h3{
  color: #F4A700;
  font-size: 18px;
  font-weight: 700;
}
.farmer .title h1{
  font-size: 52px;
  font-weight: 700;
}

.farmer .parent{
 width: 30%;
 height: 100%;
}
.farmer .row .parent .img-over{
 overflow: hidden;
}
.farmer .parent img{
 width: 100%;
}
.farmer .parent .caption {
 text-align: center;
}

.farmer .parent .caption a {
 font-size: 20px;
 font-weight: 800;
 color: black;
 text-decoration: none;
}
.farmer .parent .caption .btn{
 font-size: 20px;
 color: white;
 background-color: #6CBE03;
}
/* end farmer */